::deep .stepper-cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

::deep .stepper-cell > span{
    text-align: center;
}

::deep .stepper-layout {
    padding: 1rem;
}

::deep .st-node {
    min-width: 2rem;
    width: 2rem;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

::deep .st-node:focus-visible {
    outline: 0 !important;
}

::deep .st-node.st-node-selected {
    box-shadow: 0 0 0 2px var(--DS-color-surface-secondary-default-rest), 0 0 0 4px var(--DS-color-surface-primary-default-rest), 0 0 0 8px var(--DS-color-surface-secondary-default-rest);
}

::deep .st-node.st-node-incomplete {
    color: var(--DS-neutral-90);
    background-color: var(--DS-neutral-20);
}

::deep .stepper-node-container{
    overflow: hidden;
}

::deep .st-connector {
    height: 2px;
    width: 100%;
    background-color: var(--DS-color-content-neutral-subdued-rest);
}

::deep .st-connector-vertical {
    width: 2px;
    height: 100%;
    background-color: var(--DS-color-content-neutral-subdued-rest);
}

::deep .st-connector-incomplete {
    background-color: var(--DS-color-content-neutral-subdued-disabled) !important;
}

::deep .st-connector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1 1 auto;
    min-width: 0px;
}

::deep .st-connector-container-vertical {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}